:root {
  --color-primary: #f9f9f9;
  --color-secondary: #333;
}

.dark {
  --color-primary: #333;
  --color-secondary: #f9f9f9;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  opacity: 0.8;
}
